/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;

  }

  #calender {
    background-color: #373fff;
  }

  #monday {
    min-height: 5rem;
    text-align: justify;
  }
  
  body {
   background-image: url("https://cdn.glitch.com/ef9aacd4-18b2-45ec-9f33-3942ef1003dc%2Fpexels-ella-olsson-1640772%20(1).jpg?v=1597203890326");
   image-size:
  
  }
  
  /* HIIIIII TALIA!!!! */ 
  
  /* css for the planner -Talia */ 
  
  