* {
    box-sizing: border-box;
}
/* calendar individual days */
.col{

}  
/* calendar container */
.container {

}
/* / */
.material-icons {
}
/* menu */
.dropdown-content {
    
}
/* lets start button, need to make larger */
#startbtn {
    
}

#brand-logo {

}





/* https://materializecss.com/switches.html
https://materializecss.com/footer.html
https://materializecss.com/color.html
https://materializecss.com/buttons.html */